.head_class{
  padding: 0px 15px;
}

.header_class{
    background: black;
    padding: 30px;
}

input{
    background-color: gainsboro;
    width:500px;
    height: 30px;
    float : inside;

    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

div{
    padding: 0px 450px;
}

header:after{

    display: table;
    content: "";
    clear: both;
    position: absolute;
}

/*nav {
    float: right;
   
}*/


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    display: inline-block;
    margin-left:60px ;
    padding: 0px 5px;
    position: relative;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}


.float-right{
    float: right;
}