<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Register Form</title>


    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/script.js"></script>

</head>

<body>

    <header class="header_class">
        <nav >
          <ul dir="ltr">
             <li><a href="index.html" style="color: darkgrey ">Home</a></li>
             <li class="float-right"><a href="index.html" style="color: aliceblue ">Register</a></li>
              <li class="float-right"><a href="login.html" style="color: darkgrey ">Login</a></li>
          </ul>
        </nav>
     </header>


       <h1 class="head_class"> Create an Account </h1>
       <h4 class="head_class"> Register using this form</h4>

        <div >

            <form method="post" action="#" onsubmit="myFunction1()">
                <label class="label" > <b> First Name </b> <br></label>
                <input  id="fname" type ="text" placeholder="Your name" required>

                <label class="label"><br> <br> <b> Last Name </b><br></label>
                <input id="lname" typr="text"  placeholder="Your last name" required>

                <label class="label"><br> <br> <b>Email Address</b> <br></label>
                <input id="input2" type="email" placeholder="Your email" required >

                <label class="label"><br> <br><b>Password </b><br></label>
                <input  id="input3" type="password" required>

                  <br><br><br>
                <button type="submit" style="background-color: midnightblue ; width: 500px ; color: aliceblue ; height: 50px "> Registor </button>
            </form>
            <p style="text-align: center">Already have an acount? <a href="login.html">login</a>.</p>

        </div>

</body>
</html>